@model IEnumerable<WebApplication13.Models.Appointment>

@{
    ViewBag.Title = "GetAllAppointments";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>GetAllAppointments</h2>
<link href="~/Css/Appointment.css" rel="stylesheet" />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DoctorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fullname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppointmentTime)
        </th>
        <th>
            ActionLink
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.AppID)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DoctorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Fullname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppointmentTime)
        </td>
        <td>

            @Html.ActionLink("Delete", "Delete", "Appointment", new { AppId = item.AppID },null)
        </td>
    </tr>
}

</table>
